.orderForm {
  padding: 30px;
  background-color: var(--main-gray-20);
  border-radius: 10px;
}

.formTitle {
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.total {
  width: 100%;
  margin-bottom: 30px;
}

.totalInner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.totalInner:last-child {
  margin-bottom: unset;
}

.discount {
  color: var(--accent-second-color);
}

.totalPrice {
  font-size: 24px;
  font-weight: 500;
}

.customerData {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 30px;
}

.orderButton {
  width: 100%;
}

.modalText {
  margin-bottom: 30px;
  font-size: 20px;
}
.modalBtn {
  padding-left: 50px;
  padding-right: 50px;
}