.flower {
  text-align: center;
}

.flowerInner {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.flowerInner a {
  position: relative;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
}

.flowerInner a:focus {
  -webkit-box-shadow: 0px 0px 28px 8px var(--accent-color-64);
  -moz-box-shadow: 0px 0px 28px 8px var(--accent-color-64);
  box-shadow: 0px 0px 15px 5px var(--accent-color-64);
}

.imgWrapper {
  width: 100%;
  margin-bottom: 15px;
}

.flowerInner img {
  object-fit: contain;
  width: 100%;
  max-height: 290px;
}

.price {
  margin-bottom: 10px;
}

.activePrice {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 300;
}

.prevPrice {
  padding-left: 10px;
  color: var(--text-gray);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: line-through;
}

.title {
  font-weight: 300;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.favoriteBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.favoriteBtn svg {
  fill: #F5C4C4;
}

.favoriteBtn:hover {
  transform: scale(1.5);
}

.favoriteBtn:focus {
  transform: scale(1.2);
}

.favoriteBtn:active {
  transform: scale(1.5);
}

.favoriteBtnChosen svg {
  fill: var(--accent-second-color);
}

.catalogEmblem {
  position: absolute;
  left: 0;
  top: 0;
}