.addresses {
  background-color: var(--accent-second-light);
}

.addressesInner {
  padding: 40px 0;
}

.addressesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
  text-align: center;
}

.addressesList li {
  font-size: 20px;
}