.filters {
  padding: 20px 0;
}
.filterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color-lightest);
  padding: 20px 15px;
  border-radius: 6px;
}

.priceFilter {
  display: flex;
  gap: 10px;
  max-width: 350px;
}

.priceFilter span {
  padding: 5px 0;
}

.range label {
  margin-right: 10px;
}

.range input {
  padding: 5px;
  max-width: 100px;
}

.range input:first-of-type {
  margin-right: 10px;
}

.sliderWrapper {
  padding: 10px 0 0 0;
}
.inputWrapper {
  display: flex;
  gap: 10px;
}

.inputWrapper input{
  background-color: red;
}
.sorting {
}
.sorting select{
  padding: 5px;
}
.formBtn {
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--main-light-100);
  border-radius: 6px;
}
