.filters {
  padding: 20px 0;
}
.filterForm {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: var(--accent-color-lightest);
  padding: 20px 15px;
  border-radius: 6px;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.priceFilter {
  display: flex;
  gap: 10px;
  max-width: 350px;
}

.priceFilter span {
  padding: 5px 0;

  @media (max-width: 350px) {
    display: none;
  }
}

.inputWrapper {
  display: flex;
  gap: 10px;
}

.inputWrapper input{
  background-color: red;
}
.sorting {
  flex-basis: 200px;
}
.sorting select{
  padding: 5px;
}
.formBtn {
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--main-light-100);
  border-radius: 6px;
}

.formBtn:hover,
.formBtn:focus-visible{
  background-color: var(--accent-color-hover);
}

.formBtn:active {
  background-color: var(--accent-color-64);
}