.footer {
  padding: 40px;
  background: linear-gradient(92deg, #317014 20.3%, #426D0D 48.62%, #095F07 79.4%);
}

.footerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  color: var(--main-light-64);
  font-family: Roboto;
  font-size: 14px;
}

.logo img {
  margin-bottom: 4px;
}

.phone a {
  color: var(--main-light-64);
  line-height: 1.4;
  font-size: 26px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links a {
  color: var(--main-light-64);
  font-family: 'Roboto';
  font-size: 14px;
  text-decoration: underline;
}