.slogan {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(20rem, 14.957rem + 20.69vw, 31.25rem);
  margin-bottom: 40px;
  background-image: url("../assets/promo-bg.jpg");
  
  @media screen and (max-width: 450px) {
    background-image: url("../assets//promo-bg-mobile.jpg");
    background-position: top center;
  }
}

.inner {
  position: relative;
  top: 100px;
  left: 0;
  max-width: 455px;
  width: clamp(18.125rem, 13.278rem + 19.885vw, 28.938rem);
  padding: 30px 50px 40px 50px;
  background-color: var(--main-light-90);

  @media (max-width: 768px) {
    padding: 20px 30px 30px 30px;
  }
}

.text {
  font-family: 'Cormorant Garamond', serif;
  font-size: clamp(1.5rem, 0.996rem + 2.069vw, 2.625rem);
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}

.slogan .link {
  font-size: 14px;
  text-decoration: underline;
  color: var(--accent-color-dark);
}