.btn {
  max-width: 200px;
  /* display: block; */
  color: var(--accent-color);
  background-color: var(--main-light-100);
  padding: 15px 30px;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--main-light-100);
}