.button {
  position: relative;
  background-color: var(--accent-color);
  color: var(--main-light-100);
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-hover);
}

.button:active {
  background-color: var(--accent-color-64);
}

.button.clicked {
  padding-left: 40px;
  position: relative;
  color: var(--accent-color);
  background-color: var(--main-light-100);
  font-size: 18px;
  border: 1px solid var(--accent-color);
  background-image: url("../../assets/icons/check.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px 13px;
  cursor: default;
}

/* Message: Подумать насчет анимации */

/* .button.animate::before {
  content: "";
  display: block;
  position: absolute;
  background-color: blueviolet;
  animation: tocart 2s ease-in-out;
}

@keyframes tocart {
  0% {
    opacity: 1;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }

  100% {
    opacity: 0;
    top: -200%;
    right: -100%;
    width: 5px;
    height: 5px;
  }
} */