.input {
  position: relative;
}

.input input {
  padding: 10px;
  font-size: 18px;
}

.input input::placeholder {
  color: var(--main-text-color-48);
}

.input label {
  display: block;
  margin-bottom: 10px;
}

.inputError {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  font-size: 12px;
  color: var(--accent-second-color);
}